---
layout: subpage
title: A Testpoint.io identity provider test service
classwWapper: ap
subdomain: ap
---
<section class="diagram">
    <div class="wrapper">
        <h1>A Testpoint.io identity provider test service</h1>
        <p>B2B frameworks may leverage multiple providers of identity with varying degrees of identity confidence, The higher the identity integrity, the lower the rist associated with B2B transactions and the lower the cost of services such as trade financing. This test service simulates various OIDC providers and scopes.</p>
        <div class="diagram-image">
            <img src="/images/diagrams/test-ap.png" class="visible-desktop" alt="">
            <img src="/images/diagrams/test-ap-mobile.png" class="visible-mobile" alt="">
        </div>
    </div>
</section>
<section id="tabs">
    <h2>AVAILABLE IODC IDP TEST RESOURCES</h2>
    <div class="tabs-wrapper">
        <div class="tabs">
            <ul class="tabs-header">
            {% assign tabs = site.tabs | where: "page" , "subpage" %}
            {% for tab in tabs %}
                <li><a href="#home-{{ tab.id | slugify: 'pretty' }}">{{ tab.title }}</a></li>
            {% endfor %}
            </ul>
            <div class="tabs-container">
                {% for tab in site.tabs %}
                <div id="home-{{ tab.id  | slugify: 'pretty' }}" class="tabs-content">
                    {{ tab.content }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>