---
layout: default
title: Testpoint.io - Free restful test end-points for integrated b2b communities
classwWapper: home
---
<section class="diagram">
    <div class="wrapper">
        {% capture home-diagram %}{% include home-diagram.md %}{% endcapture %}
        {{ home-diagram | markdownify }}
    </div>
</section>
<section id="tabs">
    <h2>Available testpoints</h2>
    <div class="tabs-wrapper">
        <div class="tabs">
            <ul class="tabs-header">
            {% assign tabs = site.tabs | where: "page" , "home" %}
            {% for tab in tabs %}
                <li><a href="#home-{{ tab.id | slugify: 'pretty' }}">{{ tab.title }}</a></li>
            {% endfor %}
            </ul>
            <div class="tabs-container">
                {% for tab in site.tabs %}
                <div id="home-{{ tab.id  | slugify: 'pretty' }}" class="tabs-content">
                    {{ tab.content }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
