<footer class="footer">
    <a href="/" class="logo"><img src="/images/logo.png" alt="">Testpoint.io</a>
    <p class="footer-description">Free resources to support Ausdigital open standards development</p>
    <ul class="footer-menu">
      <li><a href="http://ausdigital.org/">Ausdigital</a></li>
      <li><a href="https://github.com/ausdigital/">Github</a></li>
      <li><a href="mailto:hi@ausdigital.org">hi@ausdigital.org</a></li>
      <li><a href="https://chat.ausdigital.org">Chat</a></li>
    </ul>
    <p class="copyright">&copy; testpoint.io <a href="https://companybook.io/public/business/urn:oasis:names:tc:ebcore:partyid-type:iso6523:0151::67618477651/#trading-names" style='color: whitesmoke'>ABN 67618477651</a></p>
</footer>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79579364-3', 'auto');
    ga('send', 'pageview');
</script>
