<!-- <section class="company-book-box">
    <img src="/images/company-book-logo.png" alt="">
    <h3>Free RESTful service registry for integrated B2B communities</h3>
    <p>The end-user business in a B2B network will normally know to who they want to send an invoice (e.g. ABN 1234) but not where to sent it (i.e. where is ABN 1234 RESTful e-invoice end point?). Companybook.io solves that problem by providing a free registry of service end-points for every business and every service type.</p>
    <a href="http://companybook.io/" class="btn">Check it out</a>
</section> -->
<footer class="footer">
    <a href="/" class="logo">
        <img src="/images/logo.png" alt="">
        Testpoint.io
    </a>
    <br>
    <br>
    <p>
      Free resources to support Ausdigital open standards development
    </p>
    <ul class="footer-menu">
      <li><a href="http://ausdigital.org/">Ausdigital</a></li>
      <li><a href="https://github.com/ausdigital/">Github</a></li>
      <li><a href="mailto:hi@ausdigital.org">hi@ausdigital.org</a></li>
      <li><a href="https://chat.ausdigital.org">Chat</a></li>
    </ul>
    <p class="copyright">Copyright &copy; 2016. All rights reserved</p>
</footer>
<script src="/js/jquery-1.12.0.min.js"></script>
<script src="/js/jquery.responsiveTabs.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $('.tabs').responsiveTabs({
            collapsible: 'false',
            active: 0,
            startCollapsed: false,
            scrollToAccordion: true,
            setHash: true,
            scrollToAccordionOffset: 500
        });
    });
</script>
