<nav id="main-nav">
    <ul>
        <li>
            <a href="#" class="has-dropdown">Services</a>
            <label for="dropdown" class="has-dropdown">Services</label>
            <input type="checkbox" id="dropdown"/>
            {% assign pages = site.pages | sort:"menuOrder" %}
            <ul class="subemnu">
                {% for page in pages %}
                    {% if page.menuTitle %}<li><a href="{{ page.url }}">{{ page.menuTitle }}</a></li>{% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>