<nav id="main-nav">
    <ul>
        <li>
            <a href="#" class="has-dropdown">Services</a>
            <label for="dropdown" class="has-dropdown">Services</label>
            <input type="checkbox" id="dropdown"/>
            <ul class="subemnu">
                <li><a href="/lap.html">Test LAP</a></li>
                <li><a href="/nry.html">Test NRY</a></li>
                <li><a href="https://idp.testpoint.io/">Test IDP</a></li>
                <li><a href="https://dcl.testpoint.io/">Test DCL</a></li>
                <li><a href="https://dcp.testpoint.io/">Test DCP</a></li>
            </ul>
        </li>
    </ul>
</nav>
