.header-container{
  background: #fff;
  border-top: 4px solid #0092c7;
  padding: 25px 0;
}

.header .logo{
  float: left;
  color: #00506d;
  font-size: 27px;
  font-weight: 700;
  text-decoration: none;
  line-height: 46px;
}
