<!doctype html>
<html>
{% include head.html %}
<body class="{{ page.classWrapper }}">
<div class="main-wrapper">
    <div class="header">
        <header class="wrapper">
            <div class="logo">
                <a href="/" title=""><img src="/images/logo.png" alt=""></a>
                <a href="http://{{ page.subdomain }}{%  if page.subdomain %}.{% endif %}testpoint.io">{{ page.subdomain }}{%  if page.subdomain %}.{% endif %}testpoint.io</a>
                {%  if page.tagline  %}<span class="tagline">{{ page.tagline }}</span>{% endif %}
            </div>

            {% include menu.html %}
        </header>
    </div>


    <section class="diagram">
        <div class="wrapper">
            {%  if page.title %}
            <h1>{{page.title}}</h1>
            {% endif %}
            {%  if page.description %}
            <p>{{page.description}}</p>
            {% endif %}
            <div class="diagram-image">
                {%  if page.diagram %}
                <img src="{{ page.diagram }}" class="visible-desktop" alt="">
                {% endif %}
                {%  if page.diagramMobile %}
                <img src="{{ page.diagramMobile }}" class="visible-mobile" alt="">
                {% endif %}
            </div>
        </div>
    </section>
    <section id="tabs">
        {%  if page.tabsTitle %}
        <h2>{{ page.tabsTitle }}</h2>
        {% endif %}
        <div class="tabs-wrapper">
            {% assign tabs = site.tabs | where: "page" , {{page.pageName}} %}
            <div class="tabs">
                <ul class="tabs-header">
                    {% for tab in tabs %}
                    <li><a href="#{{ tab.id | slugify: 'pretty' }}">{{ tab.title }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tabs-container">
                    {% for tab in site.tabs %}
                    <div id="{{ tab.id  | slugify: 'pretty' }}" class="tabs-content">
                        {{ tab.content }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

</div>
{% include footer.html %}
</body>
</html>